@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #475045;
  --color-secondary: #a09990;
}
body {
  color: var(--color-primary);
  accent-color: var(--color-1);
  font-optical-sizing: auto;
}
#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  align-items: flex-end;
}
.text-primary,
.text-primary-hover:hover {
  color: var(--color-primary);
}
.text-secondary {
  color: var(--color-secondary);
}
.bg-primary,
.bg-primary-hover:hover {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}
.bg-primary-opacity {
  background-color: rgba(71, 80, 69, 0.8);
}
.bg-secondary-opacity {
  background-color: rgba(137, 132, 125, 0.8);
}
.bg-secondary,
.bg-secondary-hover:hover {
  background-color: var(--color-secondary);
}
.font-secondary {
  font-family: 'Phillia', cursive;
  font-weight: 400;
  font-style: normal;
}
.indicators {
  position: absolute;
  width: 100%;
  z-index: 20;
  bottom: 2rem;
  left: 0;
}
.indicators li {
  margin: 0 0.3rem !important;
  text-align: center;
}
.indicators li button::before {
  background: white !important;
}
.border-primary {
  border-color: var(--color-primary);
}
.comunidad-item {
  background-image: url('/images/bg-comunidad.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.comunidad-item-2 {
  background-image: url('/images/comunidad-item2.png');
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (max-width: 800px) {
  .comunidad-item-2 {
    background-image: none;
  }
}
