@font-face {
  font-family: 'Phillia';
  src: url('Phillia-Regular.woff2') format('woff2'), url('Phillia-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
